body {
    background-color: black;
}

.nodisplay {
    display: none;
}

#container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
}

#count-name {
    text-decoration: underline;
    color: red;
}

.inputs {
    margin: 5px;
}

